body{
	margin:0rem;
	padding:0rem;
	background-color: black;
}
html{
	font-size: 10px;
}
img{
	position: relative;
 	bottom: 50px;
}
h1{
	position: relative;
	top: -2rem;
}
h6{
	font-size: 10px;
	position: relative;
	bottom: 1rem;
	right: -10px;
	left: 5px;
}
.LinkShort{
	position: absolute;
	padding: 5rem 5rem;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.8);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 45rem;
	height: 45rem; /* 48rem original */
	border-radius: 50px;
.Gen{
	position: relative;
	padding:1rem 2rem;
	right: -0.1rem;
	top: 1rem;
	border-radius: 1rem;
	background-color:white;
	outline: none;
	font-size: medium;
	margin-bottom: 1rem;
	border: none;
	transition: background-color,border-radius,border 0.75s ease-in-out;
	transition: color 0.30s ease-in-out;
}
.Gen:hover{
	background-color:red;
	color:white;
	border: 1px solid black;
	border-radius: 2rem;
	cursor: pointer;
}
input[type = "text"]{
	position: relative;
	padding: 0.30rem;
	transition: border-left 0.25s ease-in-out;
}
input[type = "text"]:hover{
	border-left: 5px solid red;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid black;
}
